.student-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    margin: 0 auto;
}

.student-form input {
    margin: 10px;
    padding: 10px;
    border: 1px solid skyblue
}

.student-form button {
    padding: 10px; 
    background-color:slategray;
    cursor: pointer;
}